# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
rng_game.db

# Environment variables
.env

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python virtual environments
venv/
ENV/
.venv/

# Logs
*.log
